@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.line {
  border-top: 8px solid blue;
  border-radius: 5px;
}

li:nth-child(odd){
  background-color:#efefef;
}

#mobile-menu {
  position: fixed;
  left: -200px;
  width: 200px;
  padding: 1rem;
  transition: 0.5s all ease-in-out;
  z-index: 1000;
  height: 100vh;
  border-top: solid 1px gray;
  border-right: solid 1px gray;
}

#mobile-menu.open {
  left: 0px;
}